.d-flex{
    display: flex;
}

.fc {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcb {
    justify-content: space-between;
}

.jce {
    justify-content: flex-end;
}

.material-icons-sharp{
    font-size: 15px;
}

.pointer{
    cursor: pointer;
}

span[contenteditable=true]{
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.096);
}

.suggested-languages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 5px;
    li {
        list-style: none;
        // padding: 5px;
        // border-radius: 8px;
        // background-color: rgb(194, 194, 194);
    }
}